@page "/events"
@model EventPlanner.Pages.EventsModel
@using System.Globalization
@using EventPlanner.Helpers
@{
    ViewData["Title"] = "Мероприятия";
    var culture = new CultureInfo("ru-RU");
}

<div class="container">
    <div class="page">
        <div class="page-wrapper">
            <div class="page-content">
                <div class="title">Мероприятия</div>
                <div class="tiles">
                    @foreach (var item in Model.Events)
                    {
                        <a class="tile" asp-page="Event" asp-route-id="@item.Id">
                            <div class="tile-cover">
                                <img class="tile-cover-blur" src="@item.CoverUrl" alt="Обложка">
                                <img src="@item.CoverUrl" alt="Обложка">
                            </div>
                            <div class="tile-desc">
                                <div class="tile-date">
                                    @DateHelper.GetDate(item.StartTime, culture)
                                </div>
                                <div class="tile-title">@item.Name</div>
                                
                                <div class="tile-address">
                                    @if (item.Type.Name == "Offline")
                                    {
                                        @AddressHelper.GetAddress(item.Address)
                                    }
                                    else
                                    {
                                        <text>Мероприятие пройдёт онлайн</text>
                                    }
                                </div>
                                
                                <div class="tags-box tile-tags">
                                    <div class="tag">@item.Category.Title</div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="background">
        <div id="particles-js">
            <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;"></canvas>
        </div>
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="~/css/events.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/lib/particles.js/particles.js"></script>
    <script src="~/js/particles.js"></script>
}